header {
    .navbar {
        transition: background-color .3s ease;
        > .container {
            max-width: 1720px;
        }
        &.page-scroll,
        &.mobile-open {
            background-color: #0A0C28 !important;
        }
        &-toggler {
            border-color: $secondary;
            &-icon {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/></svg>');
            }
            &[aria-expanded="true"] {
                .navbar-toggler-icon {
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>');
                }
            }
        }
    }
    .headerRow {
        &__logo {
            a {
                svg {
                    height: 4rem;
                    path {
                        fill: $white;
                        transition: fill .3s ease;
                    }
                }
                &:hover {
                    svg {
                        path {
                            fill: $secondary;
                        }
                    }
                }
            }
        }
        &__nav {
            .nav-item {
                line-height: 1.75rem;
                text-transform: uppercase;
            }
            .nav-link {
                color: $white;
                transition: color .3s ease;
                &:hover,
                &:focus {
                    color: $secondary;
                }
            }
        }
        &__phone {
            margin: 0 2rem;
            line-height: 1.75rem;
            svg {
                width: 18px;
                margin-right: .5rem;
            }
            a {
                color: $white;
                text-decoration: none;
                transition: color .3s ease;
                &:hover,
                &:focus {
                    color: $secondary;
                }
            }
            &-mobile {
                margin-left: auto;
                margin-right: 1.25rem;
                svg {
                    width: 20px;
                }
                a {
                    display: block;
                    color: $white;
                }
            }
        }
        &__social {
            a {
                line-height: 20px;
                text-decoration: none;
                svg {
                    width: 20px;
                    path {
                        fill: $white;
                        transition: fill .3s ease;
                    }
                }
                &:not(:last-child) {
                    margin-right: .75rem;
                }
                &:hover,
                &:focus {
                    svg {
                        path {
                            fill: $secondary;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(xl) {
        .headerRow {
            &__nav {
                .nav-item {
                    font-size: 1.125rem;
                    padding: 0;
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        .headerRow {
            &__logo {
                a {
                    svg {
                        height: 5rem;
                    }
                }
            }
            &__nav {
                .navbar-nav {
                    .nav-link {
                        padding: 1.625rem 0;
                    }
                    .dropdown-menu {
                        background-color: #0A0C28;
                        margin-top: 1rem;
                        border: none;
                        border-radius: 0 0 .5rem .5rem;
                        .dropdown-item {
                            color: $white;
                            &:hover,
                            &:focus {
                                background-color: $secondary;
                            }
                        }
                    }
                    > .nav-item {
                        &:not(:last-child) {
                            margin-right: 2rem;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(xxl) {
        .headerRow {
            &__nav {
                .nav-item {
                    font-size: 1.125rem;
                }
            }
            &__phone {
                font-size: 1.125rem;
            }
        }
    }
}