.page-services__wrapper-service {
  margin: 1rem 0;
  display: block;
  color: #fff !important;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.page-services__wrapper-service-image img {
  border-radius: 0.5rem;
  border: 2px solid #D1AB66;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.page-services__wrapper-service-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}
.page-services__wrapper-service:hover {
  color: #D1AB66 !important;
}
.page-services__wrapper-service:hover .page-services__wrapper-service-image img {
  border-color: #fff;
}
.page-services__wrapper-additional-service-text {
  font-size: 1rem;
  line-height: 1.5rem;
}