.page-pawfessionals__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-pawfessionals__wrapper-attorney {
  background-color: #0a0c28;
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.page-pawfessionals__wrapper-attorney h3 {
  margin-top: 1.5rem;
  color: #D1AB66 !important;
}
.page-pawfessionals__wrapper-attorney .btn {
  margin-top: 1.5rem;
}